/* HomePage.css */
.home-container {
    margin: 0 auto;
    padding-top: 10px; /* Adjusted to ensure enough space above */
    max-width: 1200px; /* Max width for the container */
    text-align: center;
    overflow: hidden; /* Prevent horizontal scroll */
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Vertically space out the carousel */
    gap: 30px; /* Adds space between carousel items */
  }
  
  .carousel-slide {
    flex: 0 0 auto; /* Do not grow or shrink */
  }
  
  .carousel-image {
    opacity: 0.5; /* Slightly see-through for inactive images */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Specific style for the t-shirt base image */
.tshirt-base {
    max-height: 300px; /* Limit the height of the t-shirt images */
}

.tshirt-base.carousel-image.active {
    transform: scale(1.2); /* Scale up only the t-shirt */
    opacity: 1;
}
  
  /* Style arrows */
  .carousel-arrow {
    cursor: pointer;
    user-select: none;
    font-size: 2em; /* Size of the arrows */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  
  /* Add any additional styling for main heading and subheading below */
  .main-heading {
    font-size: 3em;
    margin-bottom: 0.5em; /* Adjust the margin as needed */
  }
  
  .sub-heading {
    font-size: 1.5em;
    margin-bottom: 1em; /* Adjust the margin as needed */
  }

/* Style for the container that will hold both the t-shirt and the QR code */
.tshirt-image-container {
  position: relative;
  cursor: pointer;
  width: auto; /* Adjust based on your image size */
  height: auto; /* Adjust based on your image size */
  display: inline-block; /* Align properly without taking full width */
}

.qr-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) scale(1); /* Center the QR code on the t-shirt */
  width: 100px; /* Fixed width for QR code */
  height: 100px; /* Fixed height for QR code */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition for visibility and scaling */
}

.qr-code.carousel-image.active {
  transform: translate(-50%, -75%) scale(1.1); /* Scale up the QR code a bit when active */
  opacity: 1;
}

/* Style for the t-shirt image to ensure it fills the container */
.tshirt-base {
  display: block;
  width: 100%;
  height: auto;
}

  
  